@tailwind base;
@tailwind components;
@tailwind utilities;

@import './text-shadow.css';

.spotlight {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  pointer-events: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}
body {
  @apply transition-colors duration-0;
}

/* escuro */
.dark {
  color-scheme: dark;
}

.dark .carrosel {
  @apply bg-gray-800;
}

.dark .wtransp {
  @apply bg-gray-800 bg-opacity-80;
}

/* claro */
.light .carrosel {
  @apply bg-gray-200;
}

.light .wtransp {
  @apply bg-white bg-opacity-80;
}

/* Estilos para os botões do carrossel */
.slick-dots li button:before {
  color: rgb(255, 255, 255) !important;
  opacity: 0.75 !important;
}

.slick-dots li.slick-active button:before {
  color: rgb(98, 0, 255) !important;
  opacity: 1 !important;
}

@media (max-width: 1466px) {
  #home {
    background-size: cover !important;
    background-position: center center !important;
  }
}


/* Fundo */
@layer utilities {
  .purple-navbar{
    background-color: #430063c0;
  }
  .SombraB{
    text-shadow: 2px 2px 10px rgb(0, 0, 0);
  }
  .SombraL{
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.655);
  }
  .text-shadow-none{
    text-shadow: none;
  }
  .bg-gradient-dark {
    background: radial-gradient(circle,
      #00143a 1%,   
      #001e43 15%,  
      #00274c 29%,  
      #001f36 43%,  
      #2a2a2a 60%,  
      #282828 67%,  
      #252525 74%,  
      #171717 81%,  
      #111111 88%,  
      #000000 95%,  
      #000000 98%,  
      #000000 100%  
    );
  
    }
    .bg-gradient-light {
      background: radial-gradient(circle,  
        #c699f9 5%,  
        #ddc7f7 20%,  
        #d5a8ff 30%,  
        #c88cff 40%,  
        #a76ae0 50%,  
        #923df3 58%,  
        #9f3ff5 65%,  
        #bd5aff 73%,  
        #edd8fb 80%,  
        #ffffff 88%,  
        #ffffff 95%,  
        #ffffff 100% 
      );
    }
    @media (max-width: 640px) {
      .bg-gradient-light {
        background: radial-gradient(circle,  
          #b77ffa  5%,   
          #f8e1ff 15%,   
          #eac5ff 25%,  
          #dca8ff 35%,   
          #c88cff 45%,  
          #b76aff 55%,   
          #ae5cff 65%,  
          #9134fd 75%,   
          #caaaf1 85%,  
          #e1cfff 90%,  
          #ffffff 95%,   
          #ffffff 100%   
        );
      }
    }
}