/* 
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

Não Apagar (usar para Deploy)
*/
@tailwind base;
@tailwind components; 
@tailwind utilities;    


body {
  margin: 0;
  padding: 0;
}  

.logo{
  width: 85px;
  height: 95px;
}
.bg-cyan-transparent {
  background-color: rgba(0, 78, 181, 0.518); /* Altere o último valor para ajustar a transparência */
}
